@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: .75rem 0;
}

/* Utility classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-primary {
  color: #93cb52;
}

.text-center {
  text-align: center;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: .75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: .75rem;
  line-height: 1.1;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #93cb52;
  padding: .5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s;
  border: none;
}

.btn-dark {
  background-color: #333;
}

.btn:hover {
  background-color: #7ab436;
}

.btn-dark:hover {
  background-color: #4a4a4a;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.list {
  margin: .5rem 0;
  list-style: none;
}

.list li {
  padding: .5rem 0;
  border-bottom: 1px dotted #444;
}

.flex {
  display: flex
}

.flex-1 {
  flex: 1
}

/* Form styling */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
}

.form-group input, .form-group textarea {
  border: none;
  flex: 1;
  padding: .7rem
}

/* Component styling */

/* navigation */
.navbar {
  display: flex;
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  padding: .75rem;
  margin: 0 0.25rem;
}

.navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
  transition: background .2s;
}

/* header */
.showcase {
  background: #333 url('../img//showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

.showcase-content {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* overlay */
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.4)
}

/* section: what we do */
.what .items {
  display: flex;
  padding: 1rem;
}

.what .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.what .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* section: who we are */
.who {
  display: flex;
}

.who div {
  flex: 1;
}

.who .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

.who-text {
  color: #fff;
}

/* section: clients */
.clients .items {
  display: flex;
}

.clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* section: contact */

