/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
}

/* Utils */
.clear {
  display: block;
  clear: both;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.text__heading--large {
  font-size: 40px;
}

.text--primary {
  color: #f7c08a
}

.text--call-out {
  font-size: 1.2rem;
}

.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

.bg--dark {
  color: #fff;
  background-color: #313131;
}

.bg--light {
  color: #313131;
  background-color: #f7c08a;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 12px 20px;
  margin-bottom: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn--dark {
  background: #313131;
  color: #fff;
}

.btn--light {
  background: #f4f4f4;
  color: #000;
}

.btn--dark:hover {
  background: #214a38;
}

.btn--dark {
  background: #313131;
  color: #fff;
}

.btn--dark:hover {
  background: #214a38;
}

/* Nav */
.nav-main {
  overflow: auto;
}

.nav-main__logo {
  float: left;
}

.nav-main__logo a {
  display: inline-block;
  color: #fff;
  padding-top: 15px;
}

.nav-main ul {
  float: right;
  list-style-type: none;
}

.nav-main__item {
  float: left;
}

.nav-main__item a {
  text-decoration: none;
  padding: 20px;
  display: block;
  color: #fff;
}

.nav-main__item .active, .nav-main__item a:hover {
  color: #f7c08a;
  background: #214a38;
}

/* Home showcase */
.showcase {
  padding: 100px 0;
  color: #fff;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  min-height: 600px;
  text-align: center;
}

.showcase__heading {
  font-size: 55px;
}

/* Info */
.info {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: bottom;
}

.info > div {
  width: 50%;
}

.info__image {
  float: left;
  position: absolute;
  height: 100%;
  background: url('../img/photo-1.jpg') no-repeat;
}

.info__content {
  padding: 40px 30px;
  float: right;
}

/* Features */
.features__box {
  height: 100%;
  text-align: center;
  float: left;
  width: 33.3%;
  padding: 30px;
}

.features__box i {
  padding-bottom: 30px;
}

/* ABOUT */
.about-info {
  background-color: #f3f3f3;
  display: inline-block;
  width: 100%;
}

.about-info__left {
  float: left;
  width: 50%;
  min-height: 100%;
}

.about-info__right {
  float: right;
  width: 50%;
  min-height: 100%
}

.about-info__right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

/* Testimonials */
.testimonials {
  min-height: 600px;
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top: 40px;
}

.testimonials h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}

.testimonials__panel {
  min-height: 140px;
  padding: 20px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.testimonials__panel img {
  width: 100px;
  margin-right: 20px;
  float: left;
  border-radius: 50%;
}

/* Form */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}


/* Footer */
footer {
  text-align: center;
  font-size: .8rem;
  padding: 30px 0;
}
